body {
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-image: url(../Image/bg.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    width: 75.4%;
    margin: 46px auto 17px;
    justify-content: space-between;
}

.logo-img {
    width: 53px;
    height: 47px;
    padding: 5px 8px 9px 0;
}

.logo-text {
    padding: 5px 0;
}

.milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.holidays {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-top: 3px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.grid {
    width: 75.4%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 261px);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 62px;
    row-gap: 37px;
}

.grid-item {
    width: 300px;
    height: 261px;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 300px 220px;
    overflow: hidden;
}

.grid-bg1 {
    background-image: url(../Image/image-1.png);
}

.grid-link {
    text-decoration: none;
}

.grid-bg2 {
    background-image: url(../Image/image-2.png);
}

.grid-bg3 {
    background-image: url(../Image/image-3.png);
}

.grid-bg4 {
    background-image: url(../Image/image-4.png);
}

.grid-bg5 {
    background-image: url(../Image/image-5.png);
}

.grid-bg6 {
    background-image: url(../Image/image-6.png);
}

.plank-container {
    position: absolute;
    width: 300px;
    height: 220px;
    bottom: 41px;
    overflow: hidden;
}

.plank-text-left {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.plank-text-10px {
    height: 14px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 2px;
}

.details::after {
    position: absolute;
    left: 94px;
    bottom: 2px;
    width: 7px;
    height: 12px;
    content: '';
    background-image: url(../Image/icon.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*default-theme(white)*/

.logo-link {
    display: flex;
    text-decoration: none;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.logo-link:hover {
    /* стандартна зміна кольору при ховері */
    color: #F26522;
    fill: #F26522;
    /* зміна кольору за допомогою фильтра */
    /* filter: brightness(0) saturate(100%) invert(68%) sepia(93%) saturate(4549%) hue-rotate(346deg) brightness(96%) contrast(98%); */
}

.contacts-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.colorTheme {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    padding: 0;
    justify-content: center;
    background: #2f2727;
    border: solid 1px #F26522;
    color: #F26522;
    cursor: pointer;
}

.contacts-link:hover {
    color: #F26522;
}

.grid-text {
    color: #FFFFFF;
    text-align: center;
    padding-top: 240px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    transition: .3s;
}

.footer-text {
    color: #FFFFFF;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.plank {
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: -55px;
    background-color: #F26522;
    text-decoration: none;
    opacity: 0;
    transition: 1s;
}

.plank-text {
    display: flex;
    color: #FFFFFF;
    padding: 7px 16px 12px 16px;
    justify-content: space-between;
}
.details {
    position: relative;
    align-self: flex-end;
    padding-right: 21px;
    Font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.grid-item:hover .grid-text {
    color: #F26522;
}

.colorTheme:hover {
    transform: scale(1.1);
    transition-duration: 250ms
}

.grid-item:hover .plank {
    bottom: 0px;
    opacity: 1;
}


/*orange-theme*/

.orange-theme .logo-link {
    fill: #F26522;
    color: #F26522;
}


.orange-theme .logo-link:hover {
    color: white;
    fill: white;
}


.orange-theme .contacts-link {
    color: #F26522;
}


.orange-theme .contacts-link:hover {
    color: white;
}

.orange-theme .colorTheme {
    color: white;
    border: solid 1px #d0ba9b;
}

.orange-theme .grid-text {
    color: #F26522;
}


.orange-theme .footer-text {
    color: #F26522;
}


.orange-theme .plank {
    background-color: #d7c9b5;
}


.orange-theme .plank-text {
    color: #F26522;
}

.orange-theme .details {
    color: #F26522;
}

.orange-theme .grid-item:hover .grid-text {
    color: white;
}




